fastapi
uvicorn
langchain-google-genai
langgraph
python-dotenv
google-generativeai
pydantic
sqlalchemy
pydantic-settings
sqlalchemy
alembic
python-jose
pydantic[email]
bcrypt
python-multipart  # Form data
aiosmtplib  # Sending email
email-validator  # Email validation